
h1{
  text-align: center;
  text-decoration: underline;
}

h2{
  font-family:sans-serif;
  text-align: center;

}

h3{
  text-align: center;
  font-family: sans-serif;
  color: lightgreen;
}


.header{

   width 2300px;
   border-color: black;
   background-color: orange;
   padding-bottom: 20px;
   padding-top: 10px;
   border-style: solid;
   color: white
}

.navbar{
  color: white;
  background-color: lightgreen;
  float: left;
  margin-right: 40px;
  padding:25px ;
  height: 100vh;
  border-style: solid;
  border-color: black;
  font-family: sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

.text{
  background-image: url("img/sun.jpg");
border-color: black;
border-style: solid;
height: 100vh;
}

img{
  float: left;
  margin-right: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
border-style: solid;
border-color: lightgreen;
}

p{
  font-size: x-large;
  font-family: sans-serif;
} <!--change font--!>

.wrapper{
  width: 100%;
  align-items: center;
}

.href{
  font-family:sans-serif;
  text-align: center;
}

.list{
  color: black;
}
